{% extends "base.html" %} {% block content %}

<h1>Enter URL to grab data</h1>
<form method="post">
  {% csrf_token %}
  <input
    width="25px"
    type="text"
    name="url"
    class="form-control"
    placeholder="Enter URL"
    required
  />
  <br />

  <input
    width="25px"
    type="text"
    name="title"
    class="form-control"
    placeholder="Title Table Name"
    required
  />
  <br />

  <input
    width="25px"
    type="text"
    name="article"
    class="form-control"
    placeholder="Article Table Name"
    required
  />
  <br />

  <input
    width="25px"
    type="text"
    name="author"
    class="form-control"
    placeholder="Author Table Name"
    required
  />
  <br />

  <input
    width="25px"
    type="text"
    name="pageno"
    class="form-control"
    placeholder="Page no Table Name"
    required
  />
  <br />

  <input
    width="25px"
    type="text"
    name="abstract"
    class="form-control"
    placeholder="Abstract"
    required
  />
  <br />

  <input
    width="25px"
    type="text"
    name="keyword"
    class="form-control"
    placeholder="Keyword Table Name"
    required
  />
  <br />

  <input class="btn btn-info" type="submit" name="submit" value="Grab Data" />
</form>
<br />
<br />

<table class="table table-dark table-responsive">
  {% if title_data %}

  <tr>
    <th>Title</th>
    <th>Article</th>
    <th>Author</th>
    <th>Page No</th>
    <th>Links</th>
  </tr>
  {% for final_list in final_lists %}
  <tr>
    <td>{{title_data}}</td>
    <td>
      <a href="detail-data/{{final_list.articles}}" target="__blank"
        >{{final_list.articles}}</a
      >
    </td>
    <td>{{final_list.authors}}</td>
    <td>{{final_list.pages}}</td>
    <td>{{final_list.links}}</td>
  </tr>
  {% endfor %} {% endif %}
</table>

{% for detail in details %} {{detail.articles}} {% endfor %} 












{% endblock %}
